h1 {
  margin: 0 0 24px 0;
}
h2 {
  font-size:48px;
}
li {
  font-size:24px;
}
select {
  width: 150px;
}
video {
  margin: 10px 0 0 0;
}
table{
  border-spacing: 0px;
}
td{
  padding:0px;
}
body{
  min-width: 1480px;
}
.snapshotContainer{
  display: inline-block;
}

#main-table{
  /* min-width: 1600px; */
}
#main{
  margin: 40px 0px;
  text-align: center;
}

.input-width{
  width:100px;
}
.snapshots{
  /* width:100%; */
  /* height:100%; */
}

.padding-left{
  padding-left:60px;
}

.hr{
  position: relative;
  border-top: red solid 1px;
  height:0px;
}

.vr{
  display: inline-block;
  position: absolute;
  width: 0px;
  border-left: red solid 1px;
}
